body {
  margin: 0;
  background: #303841;
  color: #eeeeee;
}

header {
  max-width: 800px;
  margin: auto;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.container {
  display: flex;
  flex-direction: row;
  height: 65vh;

  .navbar {
    background-color: #00adb5;
    color: #eeeeee;
    margin: 0;
    padding: 20px;
    width: 15%;
    display: flex;
    flex-direction: column;

    .todo {
      .todoHeading:hover {
        cursor: pointer;
      }
    }

    .project {

      .projectList {
        .projectItem {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 0;
          .projectName {
            font-weight: bold;
            font-style: italic;
            margin: 5px;
            padding: 0;
          }
          .projectName:hover {
            cursor: pointer;
          }

          .projectDeleteBtn {
            //margin: 20px 0;

          }
        }
      }

      .newProject {

        .newProjectInput {
          width: 100%;
          border-radius: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .content {
    background-color: #eeeeee;
    color: #393e46;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 1fr;

    .heading {
      padding: 20px;
    }

    .taskList {
      padding: 20px;
      //background: #e60012;
      position: relative;

      .taskItem {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 4fr 2fr 1fr 1fr;
        background: #7dce13;
        border-radius: 5px;
        margin: 5px;
        color: #f7f7f7;
        border-left: 10px solid #e60012;
        align-items: center;

        .taskItemTitle, .taskItemDueDate, .taskItemPriority, .taskItemDelBtn {
          margin: 5px 20px;
        }

        .taskItemDelBtn {
          border-radius: 5px;
        }

        .taskItemTitle:hover {
          cursor: pointer;
        }

        .taskItemTitle:active {
          background-color: #ffde7d;
          color: #fefefe;
          transition: all ease-in-out 0.3s;
        }

        .taskItemDelBtn:hover {
          cursor: pointer;
          background-color: #ffde7d;
          color: #fefefe;
          transition: all ease-in-out 0.3s;
        }

        .taskItemDelBtn:active {
          transform: scale(0.9);
          transition: all ease-in-out 0.3s;
        }

      }


      .taskForm {
        position: absolute;
        top: 0;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);
        background: #3f72af;
        border-radius: 5px;

        .taskFormTitleLabel, .taskFormDesLabel, .taskFormDueDateLabel, .taskFormPriorityLabel {
          margin: 10px;
          color: #303841;
          font-weight: 600;
          color: #f7f7f7;
        }

        .taskFormTitleInput, .taskFormDesInput, .taskFormDueDateInput, .taskFormPrioritySelection {
          margin: 10px;
        }
        
        .taskFormAddBtn {
          grid-row-start: 3;
          grid-row-end: 4;
          grid-column-start: 1;
          grid-column-end: 3;
          margin: 10px 140px;
          border-radius: 3px;
        }

        .taskFormCancelBtn {
          grid-row-start: 3;
          grid-row-end: 4;
          grid-column-start: 3;
          grid-column-end: 5;
          margin: 10px 140px;
          border-radius: 3px;
        }

        .taskFormAddBtn:hover, .taskFormCancelBtn:hover {
          cursor: pointer;
          background-color: #ffde7d;
          color: #fefefe;
          transition: all ease-in-out 0.3s;
        }

        .taskFormAddBtn:active, .taskFormCancelBtn:active {
          transform: scale(0.9);
          transition: all ease-in-out 0.3s;
        }



        //.button:hover {
        //  cursor: pointer;
        //  background-color: #ffde7d;
        //  color: #fefefe;
        //  transition: all ease-in-out 0.3s;
        //}

      }
    }
    .addTask {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin: 10px;

      .addTaskBtn {
        margin-right: 20px;
      }
    }
  }
}

